<div class="tabled2">
  <h1><button type="button" class="form-button3"><</button>  Attendance</h1>
    <img src="{{usericon}}" alt="user" class="usericon">
  <hr>
  </div>
  <div class="tabled" style="overflow:auto;">
<table>
  
  <tr *ngFor="let nombres of Alumnos.nombre">
    <td width="300px" height="50px"><div class="bo"><label class="text1">{{nombres}}</label></div></td>
    <td><input type="checkbox" class="form-checkbox" id="check-one" checked></td>
    <td><input type="checkbox" class="form-checkbox" id="check-two" checked></td>
    <td><div class="select-style"><select>
  <option value="happy">1</option>
  <option value="soso">2</option>
  <option value="sad">3</option>
</select></div></td>
<td><div class="select-style"><select>
<option value="happy">1</option>
<option value="soso">2</option>
<option value="sad">3</option>
</select></div></td>
<td><div class="select-style"><select class="form-select">
<option value="happy">1</option>
<option value="soso">2</option>
<option value="sad">3</option>
</select></div></td>
<td><div class="select-style"><select class="form-select">
<option value="happy">1</option>
<option value="soso">2</option>
<option value="sad">3</option>
</select></div></td>
<td><button type="button" href="#popup1" class="form-button">Comment</button></td>
  </tr>
</table>
</div>
<div class="savebox">
  <button type="button" class="form-button2">Save</button>
</div>
