:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
background-color: #DDDDDD;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

#btn-login {
  color: white;
  background-color: #f7d117;
  border-color: #f7d117;
}
#cardi{
    height:30px;
}

.fp2{
  color: black;
  font-size: 25px;
  text-align: center;
}
.tabled{
  width: 1000px;
  height:500px;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 20%);
  border-color: gray;
  border-radius: 15px;
}
.tabled2{
  width: 1000px;
  height:20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 30%);
}
.tabled3{
  width: 1000px;
  height:30px;
  position: relative;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 60%);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: gray;
}
.center{
  text-align: center;
  margin-bottom: 0px;}
.bo{
  box-shadow: 0 1px 2px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.14);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
  border-radius: 10px;
  width: 350px;
  height:50px;
  position: relative;
  text-align: center;
  line-height: 50px;
}
.happy{
width: 50px;
height: 50px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
display: inline-block;
position: relative;
background-image: url("./../../assets/img/happy.png");
background-size: cover;
background-color: #5AB18F;
color: #666;
border: 0;
border-radius: 10px;
cursor: pointer;
margin-right: 7px;
outline: none;
box-shadow: 0 1px 2px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.14);
}

.regular{
width: 50px;
height: 50px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
display: inline-block;
position: relative;
background-image: url("./../../assets/img/regular.png");
background-size: cover;
background-color: #5AB18F;
color: #666;
border: 0;
border-radius: 10px;
cursor: pointer;
margin-right: 7px;
outline: none;
box-shadow: 0 1px 2px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.14);
}

.sad{
width: 50px;
height: 50px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
display: inline-block;
position: relative;
background-image: url("./../../assets/img/sad.png");
background-size: cover;
background-color: #5AB18F;
color: #666;
border: 0;
border-radius: 10px;
cursor: pointer;
margin-right: 7px;
outline: none;
box-shadow: 0 1px 2px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.14);
}

th, td {
  padding: 10px;

}
.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 10px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-checkbox:hover
{
     background-color: #f7f7f7;
}
.form-checkbox:checked
{
     background-color: #f1f1f1;
}
.form-button3
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f7d117;
     color: white;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 5px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-button3:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-button3:hover
{
     background-color: #f7d117;
}
.form-button3:checked
{
     background-color: #535458;
}
.form-button2
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #363636;
     color: white;
     height: 50px;
     width: 120px;
     border: 0;
     border-radius: 5px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-button2:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-button2:hover
{
     background-color: #5F6164;
}
.form-button2:checked
{
     background-color: #535458;
}
.form-button
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #4BACED;
     color: #377EAD;
     height: 50px;
     width: 120px;
     border: 0;
     border-radius: 5px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
     box-shadow: 0 1px 2px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.14);
}
.form-button:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-button:hover
{
     background-color: #6BBBF0;
}
.form-button:checked
{
     background-color: #295E82;
}
.select-style {
    border: 1px solid #ccc;
    width: 50px;
    height: 30px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 200px;
overflow: scroll;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 0px solid gray;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #f7f7f7;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #f1f1f1;
}
.savebox{
  position: absolute;
  left: 76%;
  top: 95%;
  transform: translate(-50%, -90%);
}
.usericon{
  width: 30px;
  height: 30px;
  opacity: .30;
  transform: translate(3200%, -200%);
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
hr.style2 {
	height: 6px;
	background: url(./../../assets/img/hr.png) repeat-x 0 0;
    border: 0;
    margin-top: -3px;

}
img.question{
  width: 16px;
  height: 16px;
  opacity: .4;
  position: relative;
}
.button1 {
  background-color: rgb(42, 151, 32);
  border: none;
  color: white;
  padding: 20px;
  display: inline-block;
  margin: 4px 2px;
  width: 50px; 
  height: 50px;
  border-radius: 25px;
}
.button2 {
  background-color: rgb(218, 214, 22);
  border: none;
  color: white;
  padding: 20px;
  display: inline-block;
  margin: 4px 2px;
  width: 50px; 
  height: 50px;
  border-radius: 25px;
}
.button3 {
  background-color: rgba(207, 22, 22, 0.904);
  border: none;
  color: white;
  padding: 20px;
  display: inline-block;
  margin: 4px 2px;
  width: 50px; 
  height: 50px;
  border-radius: 25px;
}