<div class="box">
  <img class="logo" src="{{Logocetys}}" alt="logocetys"><br>
  <div class="minibox">
        <span class="label">Usuario</span><br>
          <input type="text" class="outlinenone" placeholder="&nbsp;">
    <br>
    <br>
      <span class="label">Contraseña</span><br>
      <input type="password" class="outlinenone" placeholder="&nbsp;">
      <div class="center">
        <input type="checkbox" id="cbx" style="display:none"/>
      </div>
    <br>
    <br>
  <label>
    <input id="recordar" type="checkbox" name="Recordar" value="Bike"> Recordar<br>
  </label>
  <br>
  <button>LogIn</button>
  </div>
</div>
