
<div class="box">
  <img class="logo" src="{{Logocetys}}" alt="logocetys"><br>
  <div class="minibox">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">Usuario</span>
      <span class="border"></span>
    </label>
    <br>
    <label for="inp" class="inp">
      <input type="password" id="inp" placeholder="&nbsp;">
      <span class="label">Contraseña</span>
      <span class="border"></span>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="center">
        <input type="checkbox" id="cbx" style="display:none"/>
        <label for="cbx" class="toggle"><span></span></label>
      </div>
      </label>
    <br>
    <br>
  <label>
    <input id="recordar" type="checkbox" name="Recordar" value="Bike"> Recordar<br>
  </label>
  <br>
  <button>LogIn</button>
  </div>
</div>
