<div class="box">
  <img class="logo" src="{{Logocetys}}" alt="logocetys"><br>
  <form (submit)="Login($event)">
  <div class="minibox">
    <div class="input">
     <!--   <span class="label" for="User">Usuario</span><br> -->
          <label type="text" class="outlinenone" placeholder="&nbsp;">Usuario</label><br>
          <input type="text">
    </div>
    <br>
    <br>
    <div class="input">
      <!--<span class="label" for="Pass">Contraseña</span><br> -->
      <label type="password" class="outlinenone" placeholder="&nbsp;">Contraseña</label>
      <br>
      <input type="password">
    </div>
      <div class="center">
        <input type="checkbox" id="cbx" style="display:none"/>
      </div>
    <br>
    <br>
  <label>
    <input id="recordar" type="checkbox" name="Recordar" value="Bike"> Recordar<br>
  </label>
  <br>
  <div>
  <input type="submit" value="Login">
</div>
  </div>
</form>
</div>
