
body{
  background-color: #DDDDDD;
}
@font-face {
  font-family: Circular;
  src: url(fonts/CircularStd-Bold.otf);
}
.box{
-webkit-box-shadow: 0px 0px 2px 0px rgba(115,114,115,1);
-moz-box-shadow: 0px 0px 2px 0px rgba(115,114,115,1);
box-shadow: 0px 0px 2px 0px rgba(115,114,115,1);
background-color: white;
border-radius: 15px;
width: 528px;
height:716px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.minibox{
  width: 300px;
  height:716px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}
img.logo{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 161.36px;
  height: 133px;
}
#Recordar{
  font-family:
}
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
button {
  display: inline-block;
  position: relative;
  padding: 22px 128px;
  top: 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 15px;
  background: #FFDD00;
  color: #B39B02;

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );

  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: #C9B00D;
}
.toggle {
  position: relative;
  display: block;
  width: 40px;
  height:5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: #947ADA;
}
#cbx:checked + .toggle span {
  background: #4F2EDC;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.center {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 20px);
}
